@import "nunito.css";

:root {
    --highlight-color: null;
    --highlight-background: null;
}

::selection {
    /* color: var(--highlight-color); */
    background: var(--highlight-background);
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--bs-purple);
    background-color: var(--bs-yellow);
}

main {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    color: var(--bs-black);
    background-color: var(--bs-white);
}

main a {
    color: var(--bs-purple);
}

main a:hover {
    color: var(--bs-pink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 1000;
}

header {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;

    color: var(--bs-white);
    background-color: var(--bs-purple);
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.footer {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

.badge {
    color: var(--bs-purple);
    background-color: var(--bs-yellow);
}

.list-item {
    text-decoration: none;

    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.list-item-info {
    text-decoration: none;
    padding: 0 !important;
}

.list-item-navigation {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.list-item-primary {
    color: var(--bs-white);
    background-color: var(--bs-purple);
}

.list-item-primary:hover {
    color: var(--bs-white);
    background-color: var(--bs-pink);
}

.list-item-navigation {
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
}

.list-item-navigation {
    font-weight: 1000;
    color: var(--bs-purple);
    background-color: var(--bs-yellow);
    border-color: var(--bs-purple);
}

.list-item-navigation:hover {
    color: var(--bs-yellow);
    background-color: var(--bs-purple);
}

.list-item-info {
    color: var(--bs-purple);
}

main .list-item-info:hover {
    color: var(--bs-pink);
}

footer .list-item-info:hover {
    color: var(--bs-white);
}