---
const path = Astro.url.pathname;

interface Props {
  links: {
    href: string,
    label: string,
  }[]
};

const { links } = Astro.props;
---

<footer class="footer py-3">
    <div class="container vstack gap-2">
        {
            links
                .filter((link) => link.href !== path)
                .map((link) => <a class="list-item list-item-navigation" href={link.href}>{link.label}</a>)
        }

        <a class="list-item list-item-info" href="/resume">Contact Me</a>
        <p class="list-item list-item-info">Made with <i class="bi bi-suit-heart-fill"></i> in Montreal</p>
    </div>
</footer>